.tab-header-background {
	-fx-background-color: #555555;
}

.tab-content-area{	
	-fx-padding: 27 27 27 137;
	-fx-background-color: #373737;
}

.tab-header-area{
	-fx-background-insets: 5 0 0 0;
	-fx-translate-z: 2; 
}

.tab {
	/* height 21 m border, padding 16 */
	-fx-padding: 0 14 0 14;
}

.create-new-button {
	-fx-padding: 0 6 0 10;
}

.tab .tab-label {
	-fx-text-fill: #e6e6e6;
}

.tab:hover {
	-color-gradient: linear-gradient(to bottom, #737373, #404040);
	-color-border: #404040;
} 

.tab:pressed {
	-color-gradient: linear-gradient(to bottom, #1a1a1a, #404040);	
	-color-border: #404040;
}

.tab:selected {
	-color-gradient: linear-gradient(to bottom, #252525, #505050);	
	-color-border: #404040;
	-fx-padding: 0 -2 0 14;
}

.title{
	-fx-font-size: 14px;
}

.analysis-toolbar{
	-fx-background-color: linear-gradient(to bottom, -base-color-mid 0%, -fx-header-color 89%, #000000 90%, #555555 100% );
}

.analysis-toolbar .menu-button:hover{
	-fx-background-color: linear-gradient(to bottom, #9E9E9E 0%, #BDBDBD 50%, #9E9E9E 100%);
}

.analysis-toolbar .button{
	 -fx-background-color: transparent;
	 -fx-border-width: 0;  
	 -fx-translate-y: -2; 
}

.analysis-toolbar .button:hover{
	-fx-background-color: linear-gradient(to bottom, #9E9E9E 0%, #BDBDBD 50%, #9E9E9E 100%);
}