.title {
	-fx-font-size: 20px;
}

.scenario-toolbar .tool-bar{
	-fx-background-color: linear-gradient(to bottom, -base-color-mid 0%, -fx-header-color 100%);
	-fx-effect: -dropshadow-dark; 
}

#openHelpPageButton .graphic {
	-fx-shape: -fx-shape-icon-help;
	-fx-scale-x: 0.7;
}

#closeScenarioButton .graphic {
	-fx-shape: -fx-shape-icon-close;
}

