.execution-view {
	-fx-background-color: black, #D7D7D7;
	-fx-background-insets: 0, 2;
	-fx-background-radius: 5, 5;
	-fx-padding: 5;
	-fx-spacing: 5;
}

.execution-view .topExecMenu{
	-fx-background-color: #BCBCBC;
	-fx-background-radius: 5 5 0 0;
}

.execution-view .topExecMenu .text{
	-fx-font-size: 10px; 
}

.execution-background {
	-fx-background-color: 
		#1D1D1D,
		linear-gradient(from 0px 0px to 5px 0px, repeat, transparent 30%, #343434 50%, transparent 70%), 
		linear-gradient(from 0px 0px to 0px 5px, repeat, transparent 30%, #343434 50%, transparent 70%);
	-fx-background-insets: 0, 2, 2; 
	-fx-background-radius: 7, 7, 7; 
}