.execution-view {
	-fx-background-color: black, #D7D7D7;
	-fx-background-insets: 0, 2;
	-fx-background-radius: 9, 9;
	-fx-padding: 0;
	-fx-spacing: 0;
}

.execution-view .topExecMenu{
	-fx-background-color: #000000;
	-fx-background-radius: 13 13 0 0;
	-fx-background-insets: 0; 
}

.execution-view .topExecMenu .text{
	-fx-font-size: 10px; 
}

.execution-view .topExecMenu .menu-button{
	-fx-background-color: 
		linear-gradient(to bottom, #BDBDBD 40%, #979797 60%);
	-fx-background-radius: 9 9 0 0;
	-fx-background-insets: 2 2 0 2; 
}

.execution-view .topExecMenu .menu-button:hover{
	-fx-background-color: 
		linear-gradient(to bottom, derive(#BDBDBD, 30%) 40%, derive(#979797, 30%) 60%);
	-fx-background-radius: 9 9 0 0;
	-fx-background-insets: 2 2 0 2;
}

.execution-view .topExecMenu .menu-button:selected{
	-fx-background-color: 
		linear-gradient(to bottom, derive(#BDBDBD, 30%) 40%, derive(#979797, 30%) 60%);
	-fx-background-radius: 9 9 0 0;
	-fx-background-insets: 2 2 0 2;
}

.execution-view .topExecMenu .menu-button:focused{
	-fx-background-color: 
		linear-gradient(to bottom, #BDBDBD 40%, #979797 60%);
	-fx-background-radius: 9 9 0 0;
	-fx-background-insets: 2 2 0 2; 
}

.execution-background {
	-fx-background-color: #1D1D1D;
	-fx-background-insets: 9; 
	-fx-background-radius: 9; 
}