/**
 * loadUI Pro stylesheet
 */

.server-node, .server-node *.menu-button, .server-node *.menu-button:focused {
	-fx-padding: 2;
	-fx-font: 12pt "Amble";
	-fx-text-fill: #838383;
}

.server-node *.base {
	-fx-outer-border: #000000;
	-fx-inner-border: linear (0%,0%) to (100%,0%) stops (0%, #606060) (100%, #000000);
	-fx-body-color: linear (0%,0%) to (0%,100%) stops (0%, #282628) (100%, #171314);
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-radius: 13, 12;
	-fx-background-insets: 0, 1 1 3 1, 3 3 2 3;
}

.server-node *.bar {
	-fx-outer-border: #403f40;
	-fx-inner-border: linear (0%,0%) to (0%,100%) stops (0%, #7b797a) (50%, #332f30) (55%, #171314) (100%, #171314);
	-fx-body-color: transparent;
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 2 3 3 3, 2 3 5 3, 5;
	-fx-background-radius: 12 12 0 0;
	-fx-padding: 16;
}

.server-node *.scroll-area {
	-fx-background-color: #333333, linear (0%,0%) to (0%,100%) stops (0%, #171314) (100%, #424243);
	-fx-background-insets: 0, 1;
	-fx-background-radius: 3;
}

.server-node *.menu-button *.arrow, .server-node *.menu-button:focused *.arrow {
	-fx-background-color: #838383;
}

.server-button {
	-fx-shadow-highlight-color: transparent;
	-fx-body-color: #878787;
	-fx-padding: 2;
	-fx-background-radius: 5;
	-fx-background-insets: 0, 1;
	-fx-background-color: transparent;
}

.server-button:hover {
	-fx-background-color: #434343, linear (0%,0%) to (0%,100%) stops (0%, #434343) (100%, #201e1f);
}

.server-button:armed, .server-button:selected {
	-fx-background-color: #393939, radial (50%,50%) , 50% focus (50%,50%) stops (0%, #3b3b3b) (100%, #2e2e2e);
}

.server-node-button {
	-fx-background-radius: 2;
	-fx-background-insets: 0, 1;
	-fx-background-color: #333333, linear (0%,0%) to (0%,100%) stops (0%, #404041) (15%, #4d4e51) (100%, #1f1b1c);
	-fx-padding: 3;
}

.monitor-node {
	-fx-font: 12pt "Amble";
	-fx-text-fill: #404040;
	-fx-background-radius: 4;
	-fx-background-insets: 0, 1;
	-fx-background-color: #555555, linear (0%,0%) to (0%,100%) stops (0%, #c2c3c6) (70%, #a0a0a0) (100%, #707070);
}

.monitor-node  *.separator:vertical *.line {
    -fx-background-color: #5a5a5a;
    -fx-border-color: null;
    -fx-border-style: null;
    -fx-padding: 0 1 0 0;
}

.monitor-node *.menu-button *.arrow, .monitor-node *.menu-button:focused *.arrow {
	-fx-background-color: #404040;
}

.monitor-node *.menu-button *.arrow-button, .monitor-node *.menu-button:focused *.arrow-button {
	-fx-padding: 0 2 0 0;
}

.monitor-node *.menu-button *.label {
    -fx-padding: 0;
}

.wizard-description {
	-fx-background-color: linear (0%,0%) to (100%,0%) stops (0%, rgba(0,0,0,0.2)) (2%, rgba(0,0,0,0.08)) (10%, rgba(0,0,0,0)) (100%, rgba(0,0,0,0));
}

.wizard-description *.hyperlink {
	-fx-font: 10pt "Amble Cn";
	-fx-padding: 0;
}

.wizard-description *.scroll-bar {
	-fx-outer-border: #999999;
	-fx-inner-border: linear (0%,0%) to (100%,0%) stops (0.0, #aaacaf) (1.0, #d0d2d3);
	-fx-body-color: linear (0%,0%) to (100%,0%) stops (0.0, #e6e7e8) (1.0, #b5b6b9);
	-fx-shadow-highlight-color: rgba(102,102,102,0.3);
}

.step-label:disabled {
	-fx-opacity: 0.4;
}

.step-label *.dot-strong {
	-fx-background-radius: 8;
	-fx-background-insets: 0, 1;
	-fx-background-color: #8f8f90, linear (0%,0%) to (0%,100%) stops (0%, #61cbfe) (100%, #4e9ff8);
	-fx-font: 10pt "Amble Cn";
	-fx-text-fill: #ffffff;
}

.step-label *.dot {
	-fx-background-radius: 8;
	-fx-background-insets: 0, 1;
	-fx-background-color: #8f8f90, linear (0%,0%) to (0%,100%) stops (0%, #e5e5e5) (100%, #a0a2a4);
	-fx-font: 10pt "Amble Cn";
	-fx-text-fill: #000000;
}