/**
 *
 * Global loadUI styles. Overrides the main caspian styles.
 *
 */

/**
 * General reusable styles
 */
 
.label.icon {
	-fx-content-display: top;
	-fx-wrap-text: true;
}

/**
 * MainButton styles
 */
 
.main-button {
	-fx-background-radius: 32;
	-fx-padding: 2 -26 -8 -6;
}

.main-button *.arrow {
	-fx-background-color: transparent;
}

/**
 * TabPane styles
 */

.detachable-tab .tab-label {
	-fx-content-display: right;
}

/**
 * Toolbox styles
 */
 
.tool-box {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.ToolBoxSkin";
	-fx-background-color: black, #4f4f4f, #484848, #565656;
	-fx-background-insets: 0, 1, 2, 20 3 3 2;
	-fx-background-radius: 0 3 3 0, 0 3 3 0, 0 3 3 0, 0 0 3 0;
	-fx-padding: 0 0 15 0;
	-fx-alignment: center;
}

.tool-box .nav {
	-fx-padding: 3 25 3 25;
}

.tool-box .title {
	-fx-padding: 2;
	-fx-font-size: 12;
}

.tool-box .scroll-list {
	-fx-padding: 4 0 4 0;
}

.tool-box .item-box {
	-fx-background-color: #616161, #6d6d6d, #505050, #4b4b4b, #565656;
	-fx-background-insets: 3 3 2 1, 2 3 3 1, 2 3 4 1, 3 3 4 1, 3 3 4 1;
	-fx-padding: 4 0 4 0;
}

.tool-box .category {
	-fx-padding: 0 5 0 0;
	-fx-background-color: #4b4b4b, #505050, #6d6d6d, #616161, #565656;
	-fx-background-insets: 0 1 0 1, 1 3 1 1, 0 3 2 1, 1 3 2 1, 2 3 2 1;
}

.tool-box .expander-button:disabled {
	visibility: hidden;
}

.item-holder {
	-fx-padding: 5;
	-fx-spacing: 5;
}

.item-holder > .items {
	-fx-spacing: 15;
}

.tool-box-expander .item-holder {
	-fx-background-color: black, lightgrey;
	-fx-background-radius: 0 2 2 0;
	-fx-background-insets: -3 0 -3 0, -2 1 -2 1;
}

/**
 * Carousel styles
 */
 
.carousel {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.CarouselSkin";
	-fx-background-radius: 8;
	-fx-padding: 10;
	-fx-background-color: 
	linear-gradient(from 0% 0% to 0% 100%, #262626 0%,#636363 50%,#272727 100%),
	linear-gradient(from 0% 0% to 0% 100%, #262626 0%,#343434 70%,#272727 100%);
	-fx-background-insets: 0, 0 2 0 2;
}

.carousel .separator .line {
    -fx-background-color: #525252;
    -fx-border-color: null;
    -fx-border-style: null;
    -fx-padding: 1;
}

.carousel .separator {
	-fx-padding: 0;
	-fx-background-color: lightgray;
}

.carousel > .vbox {
	-fx-spacing: 10;
}

.carousel .carousel-display {
	-fx-spacing: 10;
	-fx-alignment: center;
}

.carousel .list-title{
	-fx-text-fill: #737373;
}

/**
 * ScrollList styles
 */
 
.scroll-list {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.ScrollListSkin";
}


/**
 * PageList styles
 */
 
.page-list {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.PageListSkin";
	-fx-background-color: darkgray;
	-fx-background-radius: 8;
	-fx-padding: 10;
}

.page-list .separator {
	-fx-padding: 10 0 5 0;
}

.page-list .item-box {
	-fx-spacing: 6;
}

.page-list .label-list .nav {
	visibility: hidden;
}

/**
 * OptionsSlider styles
 */
 
.options-slider {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.OptionsSliderSkin";
	-fx-padding: 0;
	-fx-font-size: 9;
}

.options-slider .radio-button .radio  {
   -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
   -fx-background-insets: 0;
   -fx-background-radius: 0;
   -fx-padding: 0; /* padding from outside edge to the inner black dot */
}

.options-slider .radio-button .dot {
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-background-radius: 0;
   -fx-padding: 5;
}

.options-slider .radio-button:selected .dot {
	-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
	-fx-background-radius: 0;
	-fx-padding: 5;
}

.options-slider .radio-button .radio  {
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-background-radius: 0;
   -fx-padding: 0;
}

.options-slider .radio-button:focused .radio {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.options-slider .sliding-area  {
   -fx-background-color: lightgrey;
   -fx-padding: 5;
}

/**
 * Knob styles
 */
.knob {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.KnobSkin";
	-fx-background-color: gray;
	-fx-background-radius: 4;
	-fx-padding: 5;
	-fx-cursor: v_resize;
}

.knob .base {
	-fx-background-color: black, red;
	-fx-background-insets: 2 -2 -2 2, 0;
	-fx-background-radius: 50;
	-fx-padding: 16;
}

.knob .handle {
	-fx-background-color: transparent, black;
	-fx-padding: 6;
	-fx-background-radius: 50;
	-fx-background-insets: 0, 2;
}

.knob.bounded .base {
	-fx-background-color: black, blue;
}
 
/**
 * Dialog styles
 */
 
.dialog {
	-fx-spacing: 6;
	-fx-padding: 10 24 20 24;
}

.frame {
	-fx-spacing: 12;
	-fx-padding: 24;
}

/**
 * Controls
 */
 
.invalid {
	-fx-background: #f26f6f;
	-fx-control-inner-background: #fbecec;
}
