/**
 *
 * Global loadUI styles. Overrides the main caspian styles.
 *
 */

/**
 * General reusable styles
 */

.strong {
	-fx-font-weight: bold;
} 

.root {
 	/** Reusable icon shape variables */
 	-fx-shape-navigation-left: "M24.63,68.01 C24.04,68.19 23.43,68.28 22.84,68.28 L22.84,68.28 C20.79,68.28 18.83,67.26 17.67,65.49 L1.01,40.06 L1.01,40.06 C-0.26,38.12 -0.34,35.65 0.80,33.63 L16.85,5.37 L16.85,5.37 C18.23,2.95 21.05,1.75 23.76,2.45 L23.76,2.45 C26.46,3.15 28.35,5.56 28.39,8.35 L29.00,62.04 L29.00,62.04 C29.04,64.78 27.25,67.21 24.63,68.01 Z";
	-fx-shape-navigation-up: "M68.01,24.63 C68.19,24.04 68.28,23.43 68.28,22.84 L68.28,22.84 C68.28,20.79 67.26,18.83 65.49,17.67 L40.06,1.01 L40.06,1.01 C38.12,0.26 35.65,0.34 33.63,0.80 L5.37,16.85 L5.37,16.85 C2.95,18.23 1.75,21.05 2.45,23.76 L2.45,23.76 C3.15,26.46 5.56,28.35 8.35,28.39 L62.04,29.00 L62.04,29.00 C64.78,29.04 67.21,27.25 68.01,24.63 Z";
	-fx-shape-navigation-right: "M-24.63,68.01 C-24.04,68.19 -23.43,68.28 -22.84,68.28 L-22.84,68.28 C-20.79,68.28 -18.83,67.26 -17.67,65.49 L-1.01,40.06 L-1.01,40.06 C0.26,38.12 0.34,35.65 -0.80,33.63 L-16.85,5.37 L-16.85,5.37 C-18.23,2.95 -21.05,1.75 -23.76,2.45 L-23.76,2.45 C-26.46,3.15 -28.35,5.56 -28.39,8.35 L-29.00,62.04 L-29.00,62.04 C-29.04,64.78 -27.25,67.21 -24.63,68.01 Z";
	-fx-shape-navigation-down: "M68.01,-24.63 C68.19,-24.04 68.28,-23.43 68.28,-22.84 L68.28,-22.84 C68.28,-20.79 67.26,-18.83 65.49,-17.67 L40.06,-1.01 L40.06,-1.01 C38.12,-0.26 35.65,-0.34 33.63,-0.80 L5.37,-16.85 L5.37,-16.85 C2.95,-18.23 1.75,-21.05 2.45,-23.76 L2.45,-23.76 C3.15,-26.46 5.56,-28.35 8.35,-28.39 L62.04,-29.00 L62.04,-29.00 C64.78,-29.04 67.21,-27.25 68.01,-24.63 Z";
	
	-fx-shape-icon-settings: "M14.00,12.06 L7.50,5.59 C7.74,5.08 7.88,4.53 7.88,3.93 C7.88,1.76 6.12,0.00 3.94,0.00 C3.36,0.00 2.80,0.14 2.31,0.36 L4.83,2.88 L2.89,4.82 L0.36,2.30 C0.13,2.80 -0.00,3.35 -0.00,3.93 C-0.00,6.10 1.76,7.86 3.94,7.86 C4.52,7.86 5.06,7.73 5.55,7.51 L12.06,14.00 Z";
	-fx-shape-icon-help:"M2.46,10.21 C2.46,9.69 2.49,9.23 2.54,8.83 C2.59,8.43 2.69,8.07 2.82,7.75 C2.95,7.43 3.12,7.15 3.34,6.89 C3.55,6.63 3.82,6.39 4.15,6.15 C4.44,5.93 4.70,5.73 4.92,5.55 C5.14,5.36 5.32,5.18 5.47,4.99 C5.62,4.81 5.73,4.62 5.80,4.43 C5.87,4.25 5.91,4.03 5.91,3.80 C5.91,3.57 5.86,3.37 5.77,3.18 C5.67,2.99 5.54,2.82 5.36,2.68 C5.19,2.55 4.98,2.44 4.73,2.36 C4.48,2.29 4.21,2.25 3.90,2.25 C3.57,2.25 3.26,2.28 2.96,2.32 C2.67,2.37 2.39,2.44 2.12,2.52 C1.84,2.60 1.58,2.69 1.33,2.80 C1.08,2.90 0.83,3.01 0.58,3.13 L-0.00,1.18 C0.22,1.05 0.49,0.91 0.79,0.77 C1.10,0.63 1.45,0.50 1.83,0.39 C2.22,0.28 2.64,0.19 3.09,0.11 C3.55,0.04 4.04,0.00 4.56,0.00 C5.21,0.00 5.80,0.08 6.33,0.25 C6.86,0.42 7.32,0.65 7.70,0.96 C8.08,1.27 8.38,1.64 8.59,2.08 C8.80,2.52 8.90,3.02 8.90,3.57 C8.90,4.07 8.82,4.52 8.66,4.91 C8.50,5.30 8.29,5.66 8.03,5.99 C7.77,6.31 7.49,6.61 7.17,6.88 C6.85,7.15 6.53,7.41 6.21,7.67 C6.04,7.83 5.90,7.98 5.77,8.13 C5.64,8.28 5.53,8.46 5.45,8.65 C5.37,8.84 5.30,9.06 5.26,9.31 C5.22,9.56 5.20,9.86 5.20,10.21 Z M2.48,11.85 L5.25,11.85 L5.25,14.00 L2.48,14.00 Z";
	-fx-shape-icon-close: "M14.00,2.00 L12.00,0.00 7.00,5.00 2.00,0.00 0.00,2.00 5.00,7.00 0.00,12.00 2.00,14.00 7.00,9.00 12.00,14.00 14.00,12.00 9.00,7.00 Z";
	-fx-shape-icon-summary: "m 0.82,16 c -0.29,-0.01 -0.66,-0.18 -0.71,-0.54 l 0,-6.3 c 0,-6.45 -0.14,-6.34 0.38,-6.72 0.1,-0.04 0.13,-0.13 1.07,-0.16 l 0.98,-0.03 c 0.02,3.65 0.03,7.3 0.05,10.95 l 4.35,0.03 4.35,0.03 c 0,-3.66 0,-7.32 0,-10.99 l 0.87,0 c 0.48,0 0.98,0.05 1.13,0.12 0.54,0.25 0.53,0.13 0.53,6.83 l 0,6.18 c -0.05,0.37 -0.23,0.54 -0.57,0.63 l -6.11,0.01 c -3.36,0.01 -6.2,-0.01 -6.32,-0.03 z m 3.48,-5.91 c 1.74,-0.02 3.49,-0.03 5.23,-0.05 0,0.33 0,0.65 0,0.98 -1.74,0 -3.49,0 -5.23,0 0,-0.31 0,-0.62 0,-0.92 z m 0,-2.38 c 1.74,0 3.49,0 5.23,0 0,0.32 0,0.65 0,0.97 -1.74,0 -3.49,0 -5.23,0 0,-0.32 0,-0.65 0,-0.97 z m 0,-2.38 c 1.74,-0.02 3.49,-0.03 5.23,-0.05 0,0.33 0,0.65 0,0.98 -1.74,0 -3.49,0 -5.23,0 0,-0.31 0,-0.62 0,-0.92 z m -0.24,-1.8 c 0,-1.52 0.12,-1.95 0.34,-2.13 0.18,-0.15 0.48,-0.16 0.83,-0.18 l 0.61,-0.05 c 0,-0.38 0,-0.76 0,-1.14 0.71,0 1.43,0 2.14,0 0,0.38 0,0.76 0,1.14 l 0.62,0.05 c 0.34,0.03 0.72,0.07 0.9,0.18 0.24,0.16 0.34,0.71 0.34,2.13 l -2.85,0 c -1.57,0 1.87,0 -2.92,0 z";	
	-fx-shape-icon-detach-arrow: "M 292.013,415.784 292.013,417.784 299.599,417.784 291.599,425.782 293.013,427.196 301.013,419.198 301.013,426.786 303.013,426.786 303.013,415.784 Z";
	
	/** Reusable color variables */
	-fx-header-color: #888888;
	-base-color-dark: #545454;
	-base-color-mid: #b2b2b2;
	-base-color-light: #ededed;
	-dropshadow-dark: dropshadow( gaussian, #000000, 6, 0.8, 0, 0 );
	-dropshadow-light: dropshadow( gaussian, #DDDDDD, 6, 0.8, 0, 0 );
	-innershadow-dark: innershadow( three-pass-box, #EEEEEE, 5, 0.1, 0, 5);
	-innershadow-light: innershadow( three-pass-box, #111111, 5, 0.1, 0, 5);
	
	-menubutton-color-hover: linear-gradient(to bottom, #E7E7E7, #B5B5B5);
	-menubutton-color-showing: linear-gradient(to bottom, #389DFC, #50C0F1);
	-menubutton-color-border: #8C8C8C;
	
}


/**
 * Text 
 */
.text{
	-fx-font-family: "lucida sans";
	-fx-font-size: 12; 
}

.tooltip {
   -fx-background-color: snow;
   -fx-background-radius: 7 7 7 7;
   -fx-font-family: "lucida sans";
   -fx-font-size: 10;   
}

.tooltip .page-corner {
    -fx-shape: " ";
}

.context-menu {
	-fx-padding: 4 5 8 5;
}

.context-menu .menu-item .label {
    -fx-text-fill: black;
}

.context-menu .separator .line {
	-fx-padding: 0.0005em 0.0em 0.0em 0.0em; /* 0 4 0 4 */
	-fx-border-style: segments(0.066667em, 0.066667em);
}

.placeholder {
	-fx-background-color: #292929;
	-fx-background-radius: 8;
	-fx-border-color: #6e6e6e;
	-fx-border-radius: 8;
	-fx-border-style: dashed;
	-fx-border-width: 2;
	-fx-padding: 15;
}

.placeholder .label {
	-fx-text-fill: #6e6e6e;
}

.table-view .placeholder {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: null;
	-fx-border-radius: 0;
	-fx-border-style: none;
	-fx-border-width: 0;
}

.table-view .placeholder .label {	
	-fx-text-fill: black;
}

.label.icon {
	-fx-content-display: top;
	-fx-wrap-text: true;
}


.display {
	-fx-background-color: darkgrey, black;
	-fx-background-insets: 0, 1;
	-fx-padding: 5;
}

.display .label {
	-fx-text-fill: #01f110;
	-fx-font-size: 10;
}

.button.styleable-graphic {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.StyleableGraphicButtonSkin";
	-fx-border-color: transparent;
}

.label.styleable-graphic {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.StyleableGraphicLabelSkin";
}

.toggle-button.styleable-graphic {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.StyleableGraphicToggleButtonSkin";
}

.label.styleable-graphic .graphic {
	-fx-padding: 3;
	-fx-background-radius: 50;
	-graphic-color: lightgray;
		
	-fx-background-color: 
		black,
		-graphic-color;
	
	-fx-background-insets: 
		0,
		1;	
}

.label.styleable-graphic.label-enabled .graphic  {
	-graphic-color: red;
}

.label.slim-icon {
	-fx-background-radius: 3;
	-fx-background-insets: 0, 1;
	-fx-background-color: black, grey;
	-fx-padding: 3;
}

.scenario-toolbox-item {
	-fx-background-color: transparent;
	-fx-text-fill: lightgray;
}

.button-bar {
	-fx-spacing: 4;
}

/**
 * General menu styles
 */

.radio-menu-item:checked .radio {
    -fx-background-color: pink;
    -fx-shape: null;
    -fx-scale-shape: false;
}

.radio-menu-item:checked {
	-fx-background-color: darkgray, lightgray;
	-fx-background-insets: 0, 1;	
	-fx-background-radius: 6, 5;
}


/**
 * General button styles
 */
.button {
	-button-color-border: #666666;
	-button-color-background: linear-gradient(to bottom, #e7e7e7, #cbcbcb);
	-button-color-focus: rgba( 0, 136, 255, 0.1 )  ;
	-button-color-focus2: rgba( 0, 136, 255, 0.3 )  ;

	-fx-background-color: 
		-button-color-focus,
		-button-color-focus2,
		-button-color-background;

	-fx-background-insets:
		0,
		0,
		0; 

	-fx-background-radius: 5;
	-fx-padding: 0 11 4 10;

	-fx-border-color: -button-color-border;
	-fx-border-radius: 4;
	-fx-border-width:  1;
	-fx-border-insets :  0 0 -1 0;	
	
	-fx-text-fill: #333333;
}

.button .text{
	-fx-padding: -5 0 0 0;
	-fx-translate-y: 2; 
}

.button:hover {
	-button-color-background: linear-gradient(to bottom, #fefefe, #e6e6e6);
}

.button:armed {
	-button-color-background: linear-gradient(to bottom, #b4b4b4, #dedede);
}

.button:default {
	-button-color-background: linear-gradient(to bottom, #bbddff, #0088ff);
}

.button:default:hover {
	-button-color-background: linear-gradient(to bottom, derive(#bbddff, 50%), derive(#0088ff, 50%));
}

.button:disabled {
	-button-color-background: #d8d8d8;
	-fx-opacity: 0.3;
}

.button:focused {
	-fx-background-insets:
	-2.5 -2.5 -3.5 -2.5,
	-1 -1 -2 -1,
	0; 
	-fx-effect: null;
}

/**
 * Navigation button styles
 */
 
.button.left {
	-fx-shape: -fx-shape-navigation-left;
	-fx-padding: 5 6;
}

.button.right {
	-fx-shape: -fx-shape-navigation-right;
	-fx-padding: 5 6;
}

.button.up {
	-fx-shape: -fx-shape-navigation-up;
}

.button.down {
	-fx-shape: -fx-shape-navigation-down;
}

.toggle-button{
	-fx-background-color: transparent; 
	-fx-border-color: transparent;
	-fx-border-radius: 4;
}

.toggle-button:hover{
	-fx-background-color: linear-gradient(to bottom, #AAAAAA 0%, #CCCCCC 50%, #999999 100%); 		
	-fx-border-radius: 4;
}

/**
 * Menu-Button
 */
.menu-button{
	-fx-background-color: transparent; 
	-fx-border-radius: 4;
}

.menu-button:hover{
	-fx-background-color: linear-gradient(to bottom, #AAAAAA 0%, #CCCCCC 50%, #999999 100%); 		
	-fx-border-radius: 4;
}

.menu-button:showing{
	-fx-background-color: #3355CC;
	-fx-border-radius: 0;
}

.menu-button .label{
	-fx-font-size: 12;
}

/**
 * Regular playback button
 */
.play-button .toggle-button{
	-fx-background-color: linear-gradient(to bottom, #DBDBDB 0%, #757575 100%); 
	-fx-padding: 0;
	-fx-background-radius: 25;  
	-fx-background-insets: 0;
	-fx-border-radius: 25; 
	-fx-border-width: 0; 
	-fx-border-color: transparent; 
}

.play-button .toggle-button:hover{
	-fx-background-color: linear-gradient(to bottom, #F0F0F0 0%, #CECECE 100%);
	-fx-border-radius: 20; 
	-fx-background-insets: 0;
}

.play-button .toggle-button:pressed{
	-fx-background-color: linear-gradient(to bottom, #959595 0%, #cdcdcd 100%);
}

.play-button .toggle-button:selected{
	-fx-background-color: linear-gradient(to bottom, #5A5A5A 0%, #989898 100%); 
	-fx-padding: 5.5;
	-fx-background-insets: 6;
	-fx-border-width: 0; 
	-fx-border-color: #000000; 
}

.play-button .toggle-button:selected:hover{
	-fx-border-radius: 20; 
	-fx-background-color: linear-gradient(to bottom, #ADADAD 0%, #898989 100%);
}

.play-button .toggle-button:selected:hover:pressed{
	-fx-background-color: linear-gradient(to bottom, #7A7A7A 0%, #898989 100%);
}

.play-button .toggle-button .graphic{
	-fx-shape: "m261.03247,246.33658l43.49469,-46.59081l43.49469,46.59081l-86.98938,0z"; 
	-fx-effect: dropshadow( gaussian, #D6D6D6, 0.5, 1, 1, -1 ); 
	-fx-rotate: 90;
	-fx-translate-x: 1; 
	-fx-scale-x: 0.5;
	-fx-scale-y: 0.4; 
	-fx-padding: 9; 
	-fx-background-color: #6D6D6D;    
}

.play-button .toggle-button .secondary-graphic{
	-fx-padding: 0; 
	-fx-scale-x: 0.5; 
	-fx-scale-y: 0.5;
	-fx-background-color: #6D6D6D;    
}

.play-button .toggle-button:selected .secondary-graphic{
	-fx-padding: 8;
	-fx-scale-x: 0.5;
	-fx-scale-y: 0.5; 
	-fx-background-color: linear-gradient(to bottom, #C8C8C8, #E5E5E5);   
}

.play-button .toggle-button:selected .graphic{
	-fx-padding: 0;
}

.play-button-border{
	-fx-fill: linear-gradient(to bottom, #424242 0%, #797979 100%); 
	-fx-smooth: true; 
}

/*Inner and outer area that overlaps spinner to make it look like it should. */
.outer-spinner-overlay{
	-fx-background-radius: 25; 
	-fx-background-color: transparent; 
	-fx-border-color: black; 
	-fx-border-width: 2; 
	-fx-border-radius: 25; 
}

.inner-spinner-overlay{
	-fx-background-color: black; 
	-fx-background-insets: 4; 
	-fx-background-radius: 25;
 }

 
 /*
  * Linking Buttons
  */
#link-scenario.toggle-button{
	-fx-background-color: linear-gradient(to bottom, #E1E1E1 0%, #767676 100%);
	-fx-padding: 0; 
	-fx-background-insets: 3 17 3 7; 
	-fx-translate-x: 10;
	-fx-translate-y: 0; 
	-fx-translate-z: 1; 
}

#link-scenario.toggle-button:hover{
	-fx-background-color: #BEBEBE; 
}

#link-scenario.toggle-button.styleable-graphic:focused{
	-fx-background-insets: 3 17 3 7; 
}

#link-scenario.toggle-button:selected{
	-fx-background-color: linear-gradient(to bottom, #353535 0%, #474747 100%);
}

#link-scenario.toggle-button:selected:hover{
	-fx-background-color: #7E7E7E; 
}

#link-scenario.toggle-button .graphic{
	-fx-shape: "M301.791,418.198c-1.882,0-3.45,0.879-3.806,2.046h-0.801c-0.444-1.087-1.94-1.892-3.736-1.892c-2.143,0-3.881,1.141-3.881,2.549s1.738,2.55,3.881,2.55c1.849,0,3.389-0.851,3.78-1.986h0.855c0.474,1.057,1.945,1.833,3.708,1.833c2.144,0,3.882-1.143,3.882-2.551S303.935,418.198,301.791,418.198z M293.448,422.544c-1.381,0-2.5-0.734-2.5-1.643c0-0.906,1.119-1.643,2.5-1.643c1.025,0,1.904,0.406,2.29,0.985h-1.54v1.221h1.591C295.438,422.094,294.527,422.544,293.448,422.544z M301.791,422.39c-0.988,0-1.834-0.379-2.241-0.925h1.194v-1.221h-1.323c0.325-0.659,1.258-1.14,2.37-1.14c1.381,0,2.501,0.736,2.501,1.643C304.292,421.655,303.172,422.39,301.791,422.39z";
	-fx-background-insets: 5 2 5 1; 
	-fx-background-color: #636363; 
	-fx-padding: 0 10 0 10;
	-fx-translate-x: 7;  
}

#link-scenario.toggle-button .secondary-graphic{
	-fx-padding: 6 10 6 10; 
	-fx-border-width: 1; 
	-fx-border-color: #333333; 
	-fx-border-radius: 4; 
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.7;
	-fx-translate-x: -15; 
}

#link-scenario.toggle-button:selected .graphic{
	-fx-background-color: #DEDEDE; 
}
 
/*
 * Combo-box
 **/
.combo-box-base{
	-fx-background-insets: 0;
}

.combo-box{
	-fx-border-color: #666666; 
	-fx-border-width: 1; 
	-fx-border-radius: 0; 
}

.combo-box .list-cell{
	-fx-background-color: #FFFFFF; 
	-fx-background-radius: 0; 
}

.combo-box .arrow-button{
	-fx-background-color: #EBEBEB; 
	-fx-background-radius: 0; 
	-fx-border-width: 0 0 0 1; 
	-fx-border-color: #666666;
}

.combo-box:showing{
	-fx-border-color: #00AAFF; 
}

.combo-box:focused{
	-fx-border-color: #00AAFF; 
}



/**
 * tool-bar (header) styles
 */

.tool-bar.header {
	-fx-background-color: 
	rgba(0,0,0,0.1),
	rgba(0,0,0,0.2), 
	#505050,    
	linear-gradient(to bottom, #9EA0A3 0%,#737577 97%,#252525 100%);
	-fx-background-insets: 
	-3 -3 -4 -3, 
	-1 -1 -2 -1, 
	-1  1  1  1, 
	0;
}

.toolbar-button.styleable-graphic {
	-fx-shadow-highlight-color: #b1b1b1;
	-fx-body-color: derive(#666666, -10%);
	-fx-background-color: transparent;
	-fx-padding: 6 6;
	-fx-radius: 0;
}

.toolbar-button.styleable-graphic:hover {
	-fx-background-color: derive(#272727, 70%);
}

.toolbar-button.styleable-graphic:pressed {
	-fx-background-color: derive(#272727, 40%);
	-fx-body-color: derive(#666666, 60%);
}

.toolbar-button.styleable-graphic:focused {
	-fx-background-insets: 0;
	-fx-background-radius: 5;
}

.toolbar-button.styleable-graphic .graphic {
	-fx-background-color: 
	-fx-shadow-highlight-color, 
	-fx-body-color;

	-fx-background-insets:
	0 0 -1 0, 
	0 0  0 0;
	
	-fx-padding: 8;
}


/**
 * MainButton styles
 */
.main-button {
	-fx-background-color: transparent; 	
	-fx-background-radius: 32;
	-fx-padding: 2 -26 -8 -6;
}

.main-button:hover{
	-fx-background-color: transparent;
}

.main-button:selected{
	-fx-background-color: transparent; 
}

.main-button:focused{
	-fx-background-color: transparent; 
	-fx-background-insets: 0; 		
}


	
.main-button *.arrow {
	-fx-background-color: transparent;
}

/**
 * TabPane styles
 */
 
 .tab-header-background {
	-fx-effect: null;
}
 
 .tab-pane .headers-region{
	/* fx effect do not accept null or none? */
	-fx-effect: null;
}

.tab {
	-color-gradient: transparent;
	-color-border: transparent;

	-fx-background-color: -color-gradient;

	-fx-background-radius: 4 4 0 0;
	-fx-background-insets: 0 3 0 3;
	-fx-padding: 0 14 0 14;

	-fx-border-color: -color-border;
	-fx-border-radius: 4 4 0 0;
	-fx-border-width:  1 1 0 1;
	-fx-border-insets : 0 2 0 2;	
}

.tab:hover {
	-color-gradient: linear-gradient(to bottom, derive(-base-color-mid, 50%),  derive(-base-color-mid, 10%));
	-color-border: #666666;

} 

.tab:pressed {
	-color-gradient: linear-gradient(to bottom, #949494, #cecece);	
	-color-border: #666666;
}

.tab:selected {
	-color-gradient: linear-gradient(to bottom, derive(-base-color-mid, -40%), derive(-base-color-mid, -10%));	
	-color-border: #666666;
}

.tab .tab-label {
	-fx-content-display: right;
	-fx-text-fill: #333333;
	-fx-padding: -2 2 0 0;
}

.tab:selected .tab-label {
	-fx-text-fill: #e6e6e6;
}

/**
 * Toolbox styles
 */
 
.tool-box {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.ToolBoxSkin";
	-fx-background-color: #333333, #707171, #444444, #565656;
	-fx-background-insets: 0, 1 1 1 0, 3 1 1 0, 20 3 3 0;
	-fx-background-radius: 0 4 4 0, 0 4 4 0, 0 3 3 0, 0 0 3 0;
	-fx-padding: 0 0 0 0;
	-fx-alignment: center;
}
.tool-box .nav {
	/* changes size for nav buttons */
	-fx-padding:  -2 14;
}

.tool-box .title {
	-fx-padding: 2;
	-fx-font-size: 12;
	-fx-text-fill: #f2f2f2;
}

.tool-box .scrollable-list {
	/* spacing for nav buttons */
	-fx-padding: 12 0;
}

.tool-box .scrollable-list .box {
	/* spacing for nav buttons */
	-fx-spacing: 8;
}

.tool-box .item-box {
	-fx-background-color: #616161, #6d6d6d, #505050, #444444, #565656;
	-fx-background-insets: 3 3 2 1, 2 3 3 1, 2 3 4 1, 3 3 4 1, 3 3 4 1;
	-fx-padding: 4 0 4 0;
}

.tool-box .category {
	-fx-padding: 0 5 0 0;
	-fx-background-color: #444444, #505050, #6d6d6d, #616161, #565656;
	-fx-background-insets: 0 1 0 1, 1 3 1 1, 0 3 2 1, 1 3 2 1, 2 3 2 1;
}

.tool-box .expander-button:disabled .graphic{
	-fx-background-color: transparent; 
}

.tool-box .expander-button:disabled {
	visibility: hidden;
}

.tool-box .expander-button .graphic{
	-fx-shape: -fx-shape-navigation-right;
	-fx-scale-y: 0.5; 
	-fx-scale-x: 0.5; 
	-fx-background-color: #8B8B8B; 
	-fx-padding: 12 5;
}

.tool-box .toolbar-button:hover .expander-button .graphic{
	-fx-shape: -fx-shape-navigation-right;
	-fx-scale-y: 0.5; 
	-fx-scale-x: 0.5; 
	-fx-padding: 12 5;
	-fx-background-color: #222222; 
}

.item-holder {
	-fx-padding: 5;
	-fx-spacing: 5;
}

.item-holder .category-label {
	-fx-text-fill: #f2f2f2;
}

.item-holder .icon 
{
	-fx-text-fill: #f2f2f2;
}

.item-holder > .items {
	-fx-spacing: 15;
}

.tool-box-expander .item-holder {
	-fx-backgroundFill: rgb(68,68,68,0.8);
	-fx-borderFill: rgb(38,38,38,0.8);
	/* -fx-textFill: rgb(156,156,156); */

	-fx-border-color: -fx-borderFill;
	-fx-border-radius:  0 5 5 0;
	-fx-border-insets: -1 0 -1 0;
	-fx-border-width: 1 1 1 0;

	-fx-background-color: -fx-backgroundFill;
		
	-fx-background-radius: 0 5 5 0;
	-fx-background-insets: -1 0 -1 0;
}

/**
 * Carousel styles
 */
 
.carousel {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.CarouselSkin";
	-fx-background-radius: 8;
	-fx-padding: 10;
	-fx-background-color: 
	linear-gradient(from 0% 0% to 0% 100%, #1a1a1a 0%,#636363 50%,#1a1a1a 100%),
	linear-gradient(from 0% 0% to 0% 100%, #1a1a1a 0%,#333333 70%,#1a1a1a 100%);
	-fx-background-insets: 0, 0 2 0 2;
}

.carousel .separator .line {
    -fx-background-color: #525252;
    -fx-border-color: null;
    -fx-border-style: null;
    -fx-padding: 1;
}

.carousel .separator {
	-fx-padding: 0;
	-fx-background-color: lightgray;
}

.carousel > .vbox {
	-fx-spacing: 10;
}

.carousel .carousel-display {
	-fx-spacing: 10;
	-fx-alignment: center;
}

.carousel .list-title{
	-fx-text-fill: #737373;
}

/**
 * ScrollList styles
 */
 
.scroll-list {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.ScrollListSkin";
}


/**
 * PageList styles
 */

.page-list {
	-fx-base-text-color: gray;

	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.PageListSkin";
	-fx-background-radius: 8;
	-fx-padding: 30 20;
	-fx-background-color: 
	linear-gradient(from 0% 0% to 0% 100%, #262626 0%,#636363 50%,#272727 100%),
	linear-gradient(from 0% 0% to 0% 100%, #262626 0%,#343434 70%,#272727 100%);
	-fx-background-insets: 
	0, 
	0 2 0 2;
}

.page-list .label-container .label {
	-fx-text-fill: -fx-base-text-color;
}

.page-list .label-list .label {
	-fx-text-fill: derive(-fx-base-text-color , 30%);
	-fx-font-size: 11;
}

.page-list .separator .line {
	-fx-background-color: #525252;
	-fx-border-color: null;
	-fx-border-style: null;
	-fx-padding: 0 0 1 0;
}

.page-list .separator {
	-fx-padding: 1 0 0 0;
}

.page-list .item-box {
	-fx-spacing: 6;
	-fx-padding: 0 20;
}

.page-list .label-list .nav, .page-list .label-list .placeholder {
	visibility: hidden;
}


/**
 * Knob styles
 */
.knob {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.KnobSkin";
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 5;
	-fx-cursor: v_resize;
}

.knob .base {
	-fx-shadowFill: 
	radial-gradient( center 50% 50%, radius 100%, #666666 30%, transparent 50% );
	-fx-outlineFill:
	#808080;
	-fx-outerCircleFill: 
	linear-gradient( to Bottom right, #ffffff, #8f8f8f );
	-fx-innerCircleFill:
	linear-gradient( to right, #a6a6a6 0%, #dbdbdb 75%, #ffffff 100% );
	-fx-markFill:
	linear-gradient( to right, #666666, #ffffff );
	

	-fx-background-color: 
	-fx-shadowFill,
	-fx-outlineFill,
	-fx-outerCircleFill,
	-fx-innerCircleFill;

	-fx-background-insets: 
	2 -2 -2 2, 
	0,
	1,
	3;

	-fx-background-radius: 50;

	-fx-padding: 15;
}

.knob .handle {
	-fx-markFill:
	linear-gradient( to right, #666666, #ffffff );
	
	-fx-background-color: 
	transparent,
	-fx-markFill;

	-fx-background-insets:
	0,
	5;

	-fx-padding: 8;
	-fx-background-radius: 50;
}

.knob.bounded {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.KnobBoundedSkin";
}

.knob.bounded .ticks {
	-fx-shape: "M 0,0 L 99,-2 99,2 0,0 93,35 91,41 0,0 72,68 68,72 0,0 38,92 38,92 0,0 0,100 0,100 0,0 -38,92 -38,92 0,0 -68,72 -72,68 0,0 -91,41 -93,35 0,0 -99,2 -99,-2 0,0 -93,-35 -91,-41 0,0 -72,-68 -68,-72 0,0 -41,-91 -35,-93 0,0 -2,-99 2,-99 0,0 35,-93 41,-91 0,0 68,-72 72,-68 0,0 91,-41 93,-35 0,0";
	-fx-background-color: #999999;
	-fx-background-insets: -3;
}

.knob.bounded .base {
	-fx-outlineFill:
		#000000;
	-fx-outerCircleFill: 
		linear-gradient( to right, #607cb3, #17253d );
	-fx-innerCircleFill:
		#304b7d;
	-fx-markFill:
		#ffffff;

	-fx-background-color: 
		-fx-shadowFill,
		-fx-outlineFill,
		-fx-outerCircleFill,
		-fx-innerCircleFill;

	-fx-background-insets: 
		4 -4 -4 4, 
		1.3,
		2,
		3.5;

	-fx-padding: 11;
}

.knob.bounded .handle {
	-fx-background-color: #ffffff;
	-fx-background-insets: 4 2 3 -2;
	-fx-background-radius: 0;
	-fx-padding: 4;
}
 
/**
 * Dialog styles
 */
 
.dialog {
	-fx-spacing: 6;
	-fx-padding: 10 24 20 24;
}

.frame {
	-fx-spacing: 12;
	-fx-padding: 24;
}

.step-dot {
	-fx-background-radius: 8;
	-fx-background-insets: 0, 1;
	-fx-background-color: #8f8f90, linear-gradient(to bottom, #e5e5e5, #a0a2a4);
	-fx-text-fill: white;
}

.step-dot .current-step {
	-fx-background-radius: 8;
	-fx-background-insets: 0, 1;
	-fx-background-color: #8f8f90, linear-gradient(to bottom, #61cbfe, #4e9ff8);
	-fx-text-fill: white;
}

.wizard .tab-header-area {
	visibility: hidden;
}

.settings-dialog .single-tab .tab-header-area {
	visibility: hidden;
}

.settings-dialog .tab-header-background {
	-fx-background-color: transparent;
}

.settings-dialog .tab {
	/* height 23 m border, padding 16 */
	-fx-padding: 0 10 0 10;
}

.settings-dialog .tab:hover {
	-color-gradient: linear-gradient(to bottom, #f2f2f2, #cccccc);
	-color-border: #666666;

} 

.settings-dialog .tab:pressed {
	-color-gradient: linear-gradient(to bottom, #b4b4b4, #bebebe);	
	-color-border: #666666;
}

.settings-dialog .tab:selected {
	-color-gradient: linear-gradient(to bottom, #585858, #999999);	
	-color-border: #666666;
}

.settings-dialog .tab .tab-label {
	-fx-padding: -2 0 0 0;
}

/**
 * Separators
 * 
 */
.separator:vertical .line{
	-fx-border-color: #B4B4B4; 
	-fx-border-style: solid; 
	-fx-border-width: 0 1 0 0; 
}

.separator:vertical{
	-fx-background-color: #6D6D6D; 	
}

.separator:horizontal .line{
	-fx-border-width: 0 0 1 0; 
	-fx-border-style: solid;
	-fx-border-color: #B4B4B4;
}

.separator:horizontal{
	-fx-background-color: #6D6D6D;
	-fx-padding: 0; 
}

/**
 * Progress Indicator
 */
.spinner{
	-fx-background-color: black; 
	-fx-background-radius: 20; 
	-fx-background-insets: 1; 
	-fx-padding: 0; 
}

.progress-indicator{
	-fx-progress-color: #FF0000; 
	-fx-padding: 2;	
}


.progress-bar .bar{
	-fx-background-color: #7FF400; 
	-fx-scale-y: 0.5;
}

.progress-bar .track{
	-fx-background-color: #646464; 
	-fx-scale-y: 0.5; 
}

.progress-bar{
	-fx-scale-y: 0.7;
	-fx-background-color: transparent; 
}

/**
 * Controls
 */
 .invalid {
	-fx-background: #f26f6f;
	-fx-control-inner-background: #fbecec;
}


/**
 * Assertion bottom panel.
 */
  .assertion-view {
 	-fx-background-color: #d6d6d6;
	-fx-background-radius: 10;
	-fx-padding: 2 10 10 10;
 }
  
 /**
 * Chart Area Background.
 */

.tab-content-area .scroll-pane{
 	-fx-background-color: #232323;
 	-fx-background-radius: 5; 
 }