/**
 *
 * Global loadUI styles. Overrides the main caspian styles.
 *
 */

/**
 * General reusable styles
 */
 
.label.icon {
	-fx-content-display: top;
	-fx-wrap-text: true;
}

/**
 * MainButton styles
 */
 
.main-button {
	-fx-background-radius: 32;
	-fx-padding: 2 -26 -8 -6;
}

.main-button *.arrow {
	-fx-background-color: transparent;
}

/**
 * Toolbox styles
 */
 
.tool-box {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.ToolBoxSkin";
}
 
.tool-box-region {
	-fx-background-color: black, #4f4f4f, #565656;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0 3 3 0;
	-fx-padding: 0 0 15 0;
	-fx-alignment: center;
}

.tool-box .nav {
	-fx-padding: 3 25 3 25;
}

.tool-box .title {
	-fx-padding: 2;
	-fx-font-size: 12;
	-fx-alignment: baseline-left;
	-fx-background-color: #4f4f4f;
	-fx-background-insets: 1;
	-fx-background-radius: 0 3 0 0;
}

.tool-box .category {
	-fx-padding: 0 5 0 0;
}

.tool-box .separator .line {
	-fx-border-style: null;
	-fx-border-color: transparent;
}

.tool-box .separator {
	-fx-padding: 1;
	-fx-background-color: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.5) 50%, rgba(255,255,255,0.5) 51%, rgba(255,255,255,0) 100%);
}

.tool-box .expander-button:disabled {
	visibility: hidden;
}

.item-holder {
	-fx-padding: 5;
	-fx-spacing: 5;
}

.item-holder > .items {
	-fx-spacing: 15;
}

.tool-box-expander .item-holder {
	-fx-background-color: black, lightgrey;
	-fx-background-radius: 0 2 2 0;
	-fx-background-insets: -3 0 -3 0, -2 1 -2 1;
}

/**
 * Carousel styles
 */
 
.carousel {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.CarouselSkin";
	-fx-background-color: darkgray;
	-fx-background-radius: 8;
	-fx-padding: 10;
}

.carousel .separator .line {
	-fx-border-style: null;
	-fx-border-color: transparent;
}

.carousel .separator {
	-fx-padding: 0;
	-fx-background-color: lightgray;
}

.carousel > .vbox {
	-fx-spacing: 10;
}

.carousel .carousel-display {
	-fx-spacing: 10;
	-fx-alignment: center;
}

/**
 * Knob styles
 */
.knob {
	-fx-skin: "com.eviware.loadui.ui.fx.control.skin.KnobSkin";
	-fx-background-color: gray;
	-fx-background-radius: 4;
	-fx-padding: 5;
}

.knob .base {
	-fx-background-color: black, red;
	-fx-background-insets: 2 -2 -2 2, 0;
	-fx-background-radius: 50;
	-fx-padding: 16;
}

.knob .handle {
	-fx-background-color: transparent, black;
	-fx-padding: 6;
	-fx-background-radius: 50;
	-fx-background-insets: 0, 2;
}
 
 /**
 * Dialog styles
 */
 
.dialog {
	-fx-spacing: 6;
	-fx-padding: 10 24 20 24;
}

.frame {
	-fx-spacing: 12;
	-fx-padding: 24;
}

/**
 * Controls
 */
 
.invalid {
	-fx-background: #f26f6f;
	-fx-control-inner-background: #fbecec;
}
