.workspace-view {
	-fx-background-color: #333333;
}

#topToolBar {
	-fx-background-color: 
	rgba(0,0,0,0.1),
	rgba(0,0,0,0.2), 
	#505050,    
	linear-gradient(to bottom, #9EA0A3 0%,#737577 97%,#252525 100%);
	-fx-background-insets: -3 -3 -4 -3, -1 -1 -2 -1, -1 1 1 1, 0;
}

.title {
	-fx-font-size: 20px;
}

.web-container {
	-fx-background-color: rgba(0,0,0,0.1), rgba(0,0,0,0.2), #505050, #303030;
	-fx-background-radius: 18, 15, 10, 10;
	-fx-background-insets: -3 -3 -6 -3, -1 -1 -4 -1, -1 1 1 1, 0;
	-fx-padding: 30px;
}