.knob *.text-box {
	-fx-background-color: #000000, #000000, #ff0000;
	-fx-background-radius: 0, 0, 0;
	-fx-background-insets: 0, 1, 1;
	-fx-border-fill: #000000;
	-fx-caret-fill: #ffffff;
	-fx-focus-fill: #00000000;
	-fx-selected-text-fill: #ffffff;
	-fx-text-fill: #ffffff;
	-fx-shadow-fill: rgba(0,0,0,0.3);
	-fx-font: bold 14 "Monospaced";
}

.knob *.text-box *.viewport {
	-fx-padding: 0 2 0 2;
}

.toolbar-item-frame {
	-fx-font: 10pt "Arial";
}

.display-label {
	-fx-text-fill: #0EFF0F;
}

.display-value {
	-fx-text-fill: #C9C9C9;
}

.display-container *.label {
	-fx-text-fill: #0EFF0F;
}

.run-controller *.label {
	-fx-text-fill: #2D2D2D;
	-fx-font: 9pt Arial;
}

.project-run-controller *.label {
	-fx-text-fill: #2D2D2D;
	-fx-font: 9pt Arial;
}

.expander-button {
	-fx-background-color: transparent;
	-fx-background-radius: 4 0 0 4;
}

.expander-button:hover {
	-fx-background-color: #606060;
}

.run-controller-button {
	-fx-background-radius: 3;
	-fx-background-insets: 0, 1;
	-fx-background-color: #4e4e4e, linear (0%,0%) to (0%,100%) stops (0%, #dbdbdb) (100%, #606060);
	-fx-padding: 5;
}

.run-controller-button:armed, .run-controller-button:selected {
	-fx-background-color: #373737, linear (0%,0%) to (100%,0%) stops (0%, #373737) (100%, #484848);
}

.project-run-controller-button {
	-fx-background-radius: 3;
	-fx-background-insets: 0, 1;
	-fx-background-color: #4e4e4e, linear (0%,0%) to (0%,100%) stops (0%, #dbdbdb) (100%, #606060);
	-fx-padding: 5;
}

.project-run-controller-button:armed, .run-controller-button:selected {
	-fx-background-color: #373737, linear (0%,0%) to (100%,0%) stops (0%, #373737) (100%, #484848);
}

.tooltip {
    -fx-background-color:
        #000000,
        #ffffff;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0 0 0 0;
    -fx-padding: 2 6 2 6;
    -fx-effect: null;
}

.page-corner {
    -fx-shape: null;
    -fx-effect: null;
}

.popup-menu {
	-fx-background-radius: 0;
	-fx-padding: 5;
}

.menu, .menu-item {
	-fx-padding: 2;
}

.menu:focused, .menu:showing, .menu-item:focused {
	-fx-background-insets: 0;
	-fx-background-color: #3e5fc3;
}

*.separator:horizontal *.line {
	-fx-border-style: solid;
}

.menu-button *.arrow {
	-fx-mark-highlight-color: rgba(100,100,100,0.5);
	-fx-mark-color: #4d4d4d;
}

.menu-button, .menu-button:focused {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-text-fill: #4d4d4d;
}

.menu-button:hover {
    -fx-background-color: linear (0%,0%) to (0%,100%) stops (0%, rgba(255,255,255,0.2)) (30%, rgba(255,255,255,0.5)) (80%, rgba(255,255,255,0.1)) (100%, rgba(255,255,255,0));
	-fx-background-radius: 5;
}

.menu-button-showing {
    -fx-background-color: #3e5fc3;
	-fx-background-radius: 0;
}

.agent-node *.menu-button *.label, .agent-node *.menu-button-showing *.label {
	-fx-padding: 2 3;
	-fx-font-size: 10pt;
}

.hyperlink:focused {
	-fx-border-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: #000000, linear (0%,0%) to (100%,0%) stops (0%, #0d0d0d) (30%, #202020) (100%, #333333);
    -fx-background-insets: 0, 2;
}

.scroll-bar:vertical *.track {
    -fx-background-color: #000000, linear (0%,0%) to (100%,0%) stops (0%, #0d0d0d) (30%, #202020) (100%, #333333);
    -fx-background-insets: 0, 2;
	-fx-background-radius: 0;
}

.scroll-bar:vertical *.thumb {
    -fx-background-color: #00000000, #66666699, linear (0%,0%) to (100%,0%) stops (0%, #999999) (30%, #b2b2b2) (100%, #666666);
    -fx-background-insets: 0, 1, 2;
	-fx-background-radius: 0;
}

.scroll-bar *.increment-button {
    -fx-background-color: #000000, linear (0%,0%) to (100%,0%) stops (0%, #999999) (30%, #b2b2b2) (100%, #666666);
    -fx-background-insets: 0, 0 2 2 2;
	-fx-background-radius: 0;
    -fx-padding: 5 3;
}

.scroll-bar *.decrement-button {
    -fx-background-color: #000000, linear (0%,0%) to (100%,0%) stops (0%, #999999) (30%, #b2b2b2) (100%, #666666);
    -fx-background-insets: 0, 2 2 0 2;
	-fx-background-radius: 0;
    -fx-padding: 5 3;
}

.scroll-bar:vertical *.increment-arrow {
    -fx-padding: 8 12 0 0;
    -fx-background-color: #000000;
    -fx-background-insets: 0;
    -fx-shape: "M -6 0 L 0 5 L 6 0 L 5 -1 L 0 3 L -5 -1 z"
}

.scroll-bar:vertical *.decrement-arrow {
    -fx-padding: 8 12 0 0;
    -fx-background-color: #000000;
    -fx-background-insets: 0;
    -fx-shape: "M -6 0 L 0 -5 L 6 0 L 5 1 L 0 -3 L -5 1 z"
}

.feed-scroll-view {
    -fx-padding: 0 0 0 0;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0, 0;
}

.summary-scroll-view {
    -fx-padding: 0 0 0 0;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-insets: 0, 0;
} 

.agent-inspector-node-button {
	-fx-background-radius: 1;
	-fx-background-insets: 0, 1;
	-fx-background-color: #b3b3b3, linear (0%,0%) to (0%,100%) stops (0%, #e3e3e3) (100%, #bababa);
	-fx-padding: 5;
}

.menubar-button {
	-fx-background-radius: 3;
	-fx-background-color: transparent;
}

.menubar-button:hover {
	-fx-background-color: #8c8c8c;
}

.menubar-button:armed {
	-fx-background-color: #666666;
}

.dialog-panel {
	-fx-outer-border: #000000;
	-fx-inner-border: #a5a5a5;
	-fx-body-color: #ededed;
	
	-fx-background-radius: 10, 8, 8;
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0, 2, 3;
}

.dialog-panel-title {
	-fx-titlebar-color: #999999;
	
	-fx-background-radius: 8 8 0 0;
	-fx-background-color: -fx-titlebar-color, linear (0%,0%) to (0%,100%) stops (0%, rgba(255,255,255,0.5)) (8%, rgba(255,255,255,0.7)) (50%, rgba(255,255,255,0.25)) (55%, rgba(255,255,255,0.15)) (100%, rgba(255,255,255,0));
	-fx-background-insets: 2;
}

.dialog-panel-highlight {
	-fx-background-radius: 15;
	-fx-background-color: rgba(83,83,83,0.6);
	-fx-background-insets: -10;
}

.dialog-button {
	-fx-outer-border: #d7d7d7;
	-fx-inner-border: linear (0%,0%) to (0%,100%) stops (0%, #ffffff) (100%, #e7e7e7);
	-fx-body-color: linear (0%,0%) to (0%,100%) stops (0%, rgba(0,0,0,0)) (46%, rgba(0,0,0,0)) (54%, rgba(0,0,0,0.1)) (100%, rgba(0,0,0,0.3));
	
	-fx-padding: 4 3 3 3;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6, 6, 5;
    -fx-background-insets: 0, 1, 1 0 0 2;
	-fx-font: 10pt "Amble Cn";
	-fx-text-fill: #707070;
}

.dialog-button:focused {
    -fx-background-color: #1d9dfc, -fx-inner-border, -fx-body-color;
	-fx-background-radius: 8, 6, 5;
    -fx-background-insets: -0.8, 1, 1 0 0 2;
}

.dialog-button:armed  {
	-fx-inner-border: linear (0%,0%) to (0%,100%) stops (0%, #23a8fa) (100%, #038adf);
}

.project-node *.dialog-panel {
	-fx-body-color: #c9c9c9;
}

.tab-dialog *.toggle-button {
	-fx-outer-border: #8c8c8c;
	-fx-inner-border: #f1f1f1;
	-fx-body-color: linear (0%,0%) to (0%,100%) stops (0%, #e5e6e7) (100%, #d6d7d8);
	
	-fx-padding: 2 10 1 10;
	-fx-background-radius: 4;
	-fx-background-insets: 1 -1 -1 1, -1 1 1 -1, 0;
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.tab-dialog *.toggle-button :selected {
	-fx-body-color: linear (0%,0%) to (0%,100%) stops (0%, #c8c8c8) (100%, #cbcbcb);
	-fx-background-color: -fx-inner-border, -fx-outer-border, -fx-body-color;
	-fx-text-fill: -fx-text-base-color;
}

.select-field {
    -fx-padding: 3 5;
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-radius: 3, 2, 2;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

.select-field *.arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 2 3.5 2 3.5;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}