.chart {
	-fx-background-color: linear-gradient(to bottom, #333333 0%, #111111 5%);
	-fx-background-radius: 5;
	
	-fx-border-color: #111111;
	-fx-border-width: 5; 
	-fx-border-radius: 5;
	
	-fx-axis-color: white; 
	-fx-text-color: #999999;
	-fx-grid-line-color: #474747; 
	-fx-padding: 0;
}

.chart-title{
	-fx-text-fill: transparent; 
	-fx-background-color: transparent; 
}

.chart-horizontal-grid-lines{
	-fx-stroke: -fx-grid-line-color; 
}

.chart-vertical-grid-lines{
	-fx-stroke: -fx-grid-line-color;
}
 
#zoomLevel.overlayed-chart-text{
	-fx-border-width: 12px 0px 0px 11px;
	-fx-border-color: #111111 #111111 transparent #111111;
	-fx-background-color: #111111;
	-fx-text-fill: #999999;
	-fx-font-size: 9px; 	
}

#ellapsedTime.overlayed-chart-text{
	-fx-border-width: 12px 0px 0px 1px;
	-fx-border-color: transparent #111111 transparent transparent; 
	-fx-background-color: #111111;
	-fx-text-fill: #999999;
	-fx-font-size: 9px; 	
}

.axis{
	-fx-minor-tick-visible: false; 
	-fx-tick-label-fill: -fx-axis-color;  
	-fx-tick-label-font: 10px System; 
}

.axis:bottom{
	-fx-border-color: white transparent transparent transparent; 
}

.axis:left{
	-fx-border-color: transparent white transparent transparent; 
}

.axis:left .axis-tick-mark {
    -fx-stroke: -fx-axis-color;
    -fx-stroke-width: 1;	
}

.axis:bottom .axis-tick-mark {
    	-fx-stroke: -fx-axis-color;
    	-fx-stroke-width: 1; 
}

.chart-series-line {
 	-fx-effect: null; 
	-fx-stroke-width: 2;
}

.chart-legend {
   -fx-background-color: transparent;
}

.chart-legend-item{
	visibility: false; 
}  

.chart-plot-background{
	-fx-border-color: #474747 transparent transparent transparent; 
	-fx-background-color: #111111;
}

.chart-line-symbol {
    -fx-background-insets: 0, 5;
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}

.chart-alternative-row-fill {
    -fx-fill: #111111;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;    
}