.chart {
	-fx-background-color: -fx-chart-background; 
	-fx-background-radius: 10;

	/*Reusable variables*/
	-fx-chart-background: #181818; 
	-fx-axis-color: white; 
	-fx-text-color: #999999; 
	-fx-grid-line-color: #474747; 
}

.chart-title{
	visibility: false; 
}

.chart-horizontal-grid-lines{
	-fx-stroke: #474747; 
}

.chart-vertical-grid-lines{
	-fx-stroke: #474747;
}
 
#zoomLevel.overlayed-chart-text{
	-fx-padding: 11px 5px 0px 7px;
	-fx-background-color: #181818;
	-fx-text-fill: #999999;
	-fx-font-size: 9px; 	
}

#ellapsedTime.overlayed-chart-text{
	-fx-border-width: 0px 0px 0px 0px ; 
	-fx-border-color: transparent #181818 transparent transparent; 
	-fx-background-color: #181818;
	-fx-text-fill: #999999;
	-fx-font-size: 9px; 	
}

.axis{
	-fx-minor-tick-visible: false; 
	-fx-tick-label-fill: -fx-axis-color;  
	-fx-tick-label-font: 10px System; 
}

.axis:bottom{
	-fx-border-color: white transparent transparent transparent; 
}

.axis:left{
	-fx-border-color: transparent white transparent transparent; 

}

#yAxis .axis-tick-mark {
	-fx-stroke: -fx-axis-color;
    -fx-stroke-width: 1;	
}

#xAxis .axis-tick-mark {
    	-fx-stroke: -fx-axis-color;
    	-fx-stroke-width: 1; 
}

.chart-series-line {
 	-fx-effect: null; 
}

.chart-legend {
   -fx-background-color: transparent;
}

.chart-legend-item{
	visibility: false; 
}  

.chart-plot-background{
	-fx-border-color: #474747 transparent transparent transparent; 
	-fx-background-color: -fx-chart-background;
}

.chart-line-symbol {
    -fx-background-insets: 0, 5;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.chart-alternative-row-fill {
    -fx-fill: #181818;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;    
}