.agent-view {
	-fx-background-color: black, darkgrey, grey;
	-fx-background-insets: 0, 2, 22 2 2 2;
	-fx-background-radius: 5, 5, 0 0 5 5;
	-fx-padding: 5;
	-fx-spacing: 5;
}

.dots {
	-fx-background-image: url("dot-pattern.png");
	-fx-background-repeat: repeat;
}