.agent-view {
	-fx-background-color: black, darkgrey;
	-fx-background-image: url("dot-pattern.png");
	-fx-background-repeat: repeat;
	-fx-background-insets: 0, 2;
	-fx-background-radius: 5;
	-fx-padding: 5;
	-fx-spacing: 5;
}