.inspector {
	-fx-background-color: #6f6f6f;
}

.tab-header-background {
	-fx-background-color: #555555;
	-fx-cursor: v-resize;
}

.tab {
	/* height 21 m border, padding 16 */
}

.tab .tab-label {
	-fx-text-fill: #e6e6e6;
	-fx-cursor: hand;
}

.tab:hover {
	-color-gradient: linear-gradient(to bottom, #737373, #404040);
	-color-border: #404040;
} 

.tab:pressed {
	-color-gradient: linear-gradient(to bottom, #1a1a1a, #404040);	
	-color-border: #404040;
}

.tab:selected {
	-color-gradient: linear-gradient(to bottom, #252525, #505050);	
	-color-border: #404040;
}



