#project-tab-pane > .tab-header-area {
	-fx-padding: 0 0 0 250;
}

.title {
	-fx-font-size: 20px;
}

.headers-region {
	/*-fx-background-color: yellow;*/
}

/**
 * Button-graphics
 */
#settingsButton .graphic {
	-fx-shape: -fx-shape-icon-settings;
}

#openHelpPageButton .graphic {
	-fx-shape: -fx-shape-icon-help;
	-fx-scale-x: 0.7;
}

#closeProjectButton .graphic {
	-fx-shape: -fx-shape-icon-close;
}

#summaryButton .graphic {
	-fx-shape: -fx-shape-icon-summary;
}					

/**
 * Project Playback Panel 
 */
.project-playback-panel{
	-fx-spacing: 6; 
	-fx-padding: 3; 
	-fx-background-color: linear-gradient(to bottom, #959595 0%, #ABABAB 100%); 
	-fx-border-color: #777777;
	-fx-border-radius: 9;
	-fx-border-width: 2; 
	-fx-background-radius: 10;
}

/**
 * Playbutton
 */
#play-button.toggle-button{
	-fx-background-color: linear-gradient(to bottom, #DBDBDB 0%, #757575 100%); 
	-fx-padding: 4;
	-fx-background-radius: 30;  
	-fx-background-insets: 2; 
	-fx-border-radius: 20; 
	-fx-border-width: 3; 
	-fx-border-color: transparent; 
}

#play-button.toggle-button:hover{
	-fx-background-color: linear-gradient(to bottom, #AAAAAA 0%, #CCCCCC 100%);
}

#play-button.toggle-button:selected:hover{
	-fx-border-color: transparent; 
	-fx-background-color: linear-gradient(to bottom, #AAAAAA 0%, #CCCCCC 100%);
}

#play-button.toggle-button:selected{
	-fx-background-color: linear-gradient(to bottom, #DBDBDB 0%, #757575 100%); 
}

#play-button.toggle-button .graphic{
	-fx-shape: -fx-shape-navigation-right; 
	-fx-padding: 50;
	-fx-scale-x: 0.5;
	-fx-scale-y: 0.5; 
	-fx-padding: 10; 
	-fx-background-color: #6D6D6D;    
}

#play-button.toggle-button .secondary-graphic{
	-fx-padding: 0; 
	-fx-scale-x: 0.6; 
	-fx-scale-y: 0.6;
	-fx-background-color: #6D6D6D;    
}

#play-button.toggle-button:selected .secondary-graphic{
	-fx-padding: 10; 
	-fx-background-color: #6D6D6D;   
}

#play-button.toggle-button:selected .graphic{
	-fx-padding: 0;
}

.play-button-background{
	-fx-background-color: #6E6E6E; 
	-fx-padding: 18; 
	-fx-background-radius:  20; 
}

/**
 * Separators
 */
.separator .line{
	-fx-border-color: transparent; 
}

.separator{
	-fx-background-color: #6D6D6D; 	
}

/**
 * Progress Indicator
 */

.progress-indicator{
	-fx-progress-color: #00FF00; 
}

/**
 * Detachable-tabs
 */
  
.tab-header-background {
	-fx-background-color: transparent;
}
 
.detachable-tab{
	-fx-padding: 0 0 0 18;
}

.detachable-tab .tab-label {
	-fx-content-display: right;
	-fx-text-fill: #333333;
	-fx-padding: -2 2 0 0;
}

.detachable-tab .styleable-graphic {
	-color-button-gradient: transparent;
	-color-button-border: transparent;
	-color-arrow: -fx-body-color;

	-fx-background-color: 
		-color-button-border,
		-color-button-gradient;

	-fx-padding: 
		0,
		0;
	-fx-background-radius: 
		4,
		4;
	
	-fx-background-insets: 
		-3 -2 5 1,
		-2 -1 6 2;	
}

.detachable-tab .styleable-graphic:hover {
	-color-button-gradient:  linear-gradient(to bottom, derive(-base-color-mid, 50%),  derive(-base-color-mid, 10%));
	-color-button-border: #666666;
	-color-arrow: #666666;
}
.detachable-tab .graphic {
	-fx-background-color: -color-arrow;
	-fx-background-insets: 1 2 9 5;
	-fx-padding: 0 6;
	-fx-shape: -fx-shape-icon-detach-arrow;
	
}