#project-tab-pane > .tab-header-area {
	-fx-padding: 0 0 0 250;
}

.tab-header-area .headers-region{
	-fx-padding: 5 0 0 0; 
}

.title {
	-fx-font-size: 20px;
}


/**
 * Button-graphics
 */
#settingsButton .graphic {
	-fx-shape: -fx-shape-icon-settings;
}

#openHelpPageButton .graphic {
	-fx-shape: -fx-shape-icon-help;
	-fx-scale-x: 0.7;
}

#closeProjectButton .graphic {
	-fx-shape: -fx-shape-icon-close;
}

#summaryButton .graphic {
	-fx-shape: -fx-shape-icon-summary;
}					

/**
 * Detachable-tabs
 */

.tab-header-background {
	-fx-background-color: transparent;
}

.project-view .tool-bar{
	-fx-background-color: linear-gradient(to bottom, -base-color-mid 0%, -fx-header-color 75%, #000000 76%, #272727 81%);
}

.detachable-tab{
	-fx-padding: 0 0 0 18;
	-fx-translate-y: -6; 
}

.detachable-tab .tab-label {
	-fx-content-display: right;
	-fx-text-fill: #333333;
	-fx-padding: -2 2 0 0;
}

.detachable-tab .styleable-graphic {
	-color-button-gradient: transparent;
	-color-button-border: transparent;
	-color-arrow: -fx-body-color;

	-fx-background-color: 
		-color-button-border,
		-color-button-gradient;

	-fx-padding: 
		0,
		0;
	-fx-background-radius: 
		4,
		4;
	
	-fx-background-insets: 
		-3 -2 5 1,
		-2 -1 6 2;	
}

.detachable-tab .styleable-graphic:hover {
	-color-button-gradient:  linear-gradient(to bottom, derive(-base-color-mid, 50%),  derive(-base-color-mid, 10%));
	-color-button-border: #666666;
	-color-arrow: #666666;
}

.detachable-tab .graphic {
	-fx-background-color: -color-arrow;
	-fx-background-insets: 1 2 9 5;
	-fx-padding: 0 6;
	-fx-shape: -fx-shape-icon-detach-arrow;
	
}

.project-view #link-scenario.toggle-button{
	-fx-background-color: linear-gradient(to bottom, #E1E1E1 0%, #767676 100%);
	-fx-padding: 0 0 0 0; 
	-fx-background-insets: 4 16 4 6; 
	-fx-translate-x: -20;
	-fx-translate-y: -20;
	-fx-translate-z: 10; 
}

.project-view #link-scenario.toggle-button:hover{
	-fx-background-color: #BEBEBE; 
}

.project-view #link-scenario.toggle-button.styleable-graphic:focused{
	-fx-background-insets: 4 16 4 6; 
}

.project-view #link-scenario.toggle-button:selected{
	-fx-background-color: linear-gradient(to bottom, #353535 0%, #474747 100%);
}

.project-view #link-scenario.toggle-button:selected:hover{
	-fx-background-color: #7E7E7E; 
}

.project-view #link-scenario.toggle-button .graphic{
	-fx-shape: "M301.791,418.198c-1.882,0-3.45,0.879-3.806,2.046h-0.801c-0.444-1.087-1.94-1.892-3.736-1.892c-2.143,0-3.881,1.141-3.881,2.549s1.738,2.55,3.881,2.55c1.849,0,3.389-0.851,3.78-1.986h0.855c0.474,1.057,1.945,1.833,3.708,1.833c2.144,0,3.882-1.143,3.882-2.551S303.935,418.198,301.791,418.198z M293.448,422.544c-1.381,0-2.5-0.734-2.5-1.643c0-0.906,1.119-1.643,2.5-1.643c1.025,0,1.904,0.406,2.29,0.985h-1.54v1.221h1.591C295.438,422.094,294.527,422.544,293.448,422.544z M301.791,422.39c-0.988,0-1.834-0.379-2.241-0.925h1.194v-1.221h-1.323c0.325-0.659,1.258-1.14,2.37-1.14c1.381,0,2.501,0.736,2.501,1.643C304.292,421.655,303.172,422.39,301.791,422.39z";
	-fx-background-insets: 6 2 6 1; 
	-fx-background-color: #636363; 
	-fx-padding: 0 10 0 10;
	-fx-translate-x: 7;  
}

.project-view #link-scenario.toggle-button .secondary-graphic{
	-fx-padding: 5 10 5 10; 

	-fx-border-width: 1; 
	-fx-border-color: #333333; 
	-fx-border-radius: 4; 
	-fx-scale-x: 1;
	-fx-scale-y: 0.6;
	-fx-translate-x: -15; 
}

.project-view #link-scenario.toggle-button:selected .graphic{
	-fx-background-color: #DEDEDE; 
}

